/*! Yaku Kumi Fonts (SIL OFL 1.1 AND MIT) by Daiji256 */
/*! Yaku Kumi is based on Noto CJK */
@font-face {
  font-family: "Yaku Kumi Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/YakuKumiSans-Regular.woff2") format("woff2"),
    url("../fonts/YakuKumiSans-Regular.woff") format("woff"),
    url("../fonts/YakuKumiSans-Regular.otf") format("opentype");
}
