@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-200.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-200.woff") format("woff"),
        url("../fonts/YakuKumiSerif-200.ttf") format("truetype");
}
@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-300.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-300.woff") format("woff"),
        url("../fonts/YakuKumiSerif-300.ttf") format("truetype");
}
@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-400.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-400.woff") format("woff"),
        url("../fonts/YakuKumiSerif-400.ttf") format("truetype");
}
@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-500.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-500.woff") format("woff"),
        url("../fonts/YakuKumiSerif-500.ttf") format("truetype");
}
@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-600.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-600.woff") format("woff"),
        url("../fonts/YakuKumiSerif-600.ttf") format("truetype");
}
@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-700.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-700.woff") format("woff"),
        url("../fonts/YakuKumiSerif-700.ttf") format("truetype");
}
@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-800.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-800.woff") format("woff"),
        url("../fonts/YakuKumiSerif-800.ttf") format("truetype");
}
@font-face {
    font-family: "Yaku Kumi Serif";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        url("../fonts/YakuKumiSerif-900.woff2") format("woff2"),
        url("../fonts/YakuKumiSerif-900.woff") format("woff"),
        url("../fonts/YakuKumiSerif-900.ttf") format("truetype");
}
