@font-face {
  font-family: "Yaku Kumi Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/YakuKumiSerif-Regular.woff2") format("woff2"),
    url("../fonts/YakuKumiSerif-Regular.woff") format("woff"),
    url("../fonts/YakuKumiSerif-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Yaku Kumi Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/YakuKumiSerif-Bold.woff2") format("woff2"),
    url("../fonts/YakuKumiSerif-Bold.woff") format("woff"),
    url("../fonts/YakuKumiSerif-Bold.otf") format("opentype");
}
