@font-face {
  font-family: "YakuKumiSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/YakuKumiSans-Regular.woff2") format("woff2"),
    url("../fonts/YakuKumiSans-Regular.woff") format("woff"),
    url("../fonts/YakuKumiSans-Regular.otf") format("opentype");
}
